{% extends "app/layout.html" %}
{% load static %}
<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=hbGeJXZPe2qhWLUyp7-2Q6PXG_kg17XYAmdEacsA43M2M7ZfIjj_cqTa34xrTUMLsI0p-r9c3ydyxy6UY-7MwG5mJVX4BwdYEXe1XWb63Ec" charset="UTF-8"></script>
{% block content %}
<main class="px-44">
    <div class="container mt-12">
        <h1 class="text-4xl font-bold text-blue-500">About us</h1>
        <br>
        <hr>
        <div class="mt-10 leading-8 rounded-lg mb-24">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, architecto asperiores atque commodi consequuntur delectus deleniti dolor dolore dolorem doloremque earum enim eos ex ipsa maiores molestias nisi nulla officia quas quibusdam quos ut vel voluptatem. Consectetur consequatur deserunt dicta dolorum eos error et eveniet, ex, id iste labore maxime molestiae necessitatibus nemo odio, quis rerum sapiente sit vero voluptatibus. Animi earum, incidunt ipsa nisi optio quas, rem repellendus, sed sequi similique suscipit unde. Aperiam assumenda explicabo perferendis suscipit! Architecto iste, libero molestias nemo officia quidem quod voluptates. Ad debitis dolorem exercitationem in molestias quod! Beatae explicabo optio saepe voluptas.</p>
        </div>
        <br>
        <hr>
    </div>
</main>
{% endblock %}