{% extends "app/layout.html" %}
{% load static %}
<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=hbGeJXZPe2qhWLUyp7-2Q6PXG_kg17XYAmdEacsA43M2M7ZfIjj_cqTa34xrTUMLsI0p-r9c3ydyxy6UY-7MwG5mJVX4BwdYEXe1XWb63Ec" charset="UTF-8"></script>
{% block content %}
<main class="px-44">
    <div class="container mt-12">
        <h1 class="text-4xl font-bold text-blue-500">Search results</h1>
        <br>
        <hr>
        <div class="mt-10 leading-8 rounded-lg mb-24">
            {% if search_res %}
            {% for course in search_res %}
            <div class="row">
                <div class="shadow-md rounded-md px-4 py-3 mx-2 w-1/2 border-2 mb-4">
                    <h3 class="text-gray-900 font-bold text-2xl">
                        <a href="{% url 'get_course_by_id' course.id%}">{{course.course_name}}</a>
                    </h3>
                    <p class="text-gray-500 font-medium">{{course.course_description|truncatewords:10}}</p>
                </div>
            </div>
                {% endfor %}
            {% else %}
              {{empty_res}}
            {% endif %}
        </div>
        <br>
        <hr>
    </div>
</main>
{% endblock %}
