.auth-container {
    width: 530px;
    min-height: 370px;
    /* background-color: blue; */
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 10px;
    padding: 30px 30px 10px 30px;
    /* border: 1px solid black; */
    background-color: white;
}

.auth-body {
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.auth-container input {
    display: block;
    margin: 20px 0px;
    padding: 15px 50px;
    border: none;
    border-radius: 5px;
    width: 470px;
    background-color: #E5E5E5;
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;
    color: #9B9696;
}

.auth-container .icon {
    position: absolute;
    margin: 12px 15px;
}

.auth-container p {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 30px;
}

.auth-container button {
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    background: #3A7CA5;
    border-radius: 5px;
    padding: 10px 25px;
    display: block;
    width: 470px;
    transition: all 200ms ease-in-out;
    border: none;
}

.auth-container button:hover {
    background: #1a3d53;
    transition: all 200ms ease-in-out;
}

.auth-container a {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: block;
    color: #615959;
    margin: 15px 0px 25px 0px;
}

.center {
    text-align: center;
    display: inline-block;
}

.right  {
    text-align: right;
    display: inline-block;
}


