
.title {
    margin-top: 40px;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.courses-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 260px);
    grid-gap: 30px;
    margin-bottom: 40px;
}

.course-card-item {
    height: 300px;
    border-radius: 5px;
    border: 1px solid #E5E5E5;
}

.course-card-image {
    background-color: rgb(192, 185, 185);
    height: 130px;
    border-radius: 5px 5px 0px 0px;
}

.course-card-content {
    padding: 20px 20px;
    height: 170px;
    border-radius: 0px 0px 5px 5px;
}

.course-card-label {
    font-size: 14px;
    line-height: 17px;
    color: #38393A;
}

.course-card-title {
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
    margin-bottom: 15px;
}

.course-card-desc {
    vertical-align: middle;
    color: #38393A;
    display: grid;
    grid-template-columns: 10% 90%;
    align-items: center;
    grid-gap: 5px;
}

.course-card-link {
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #3A7CA5;
    margin-top: 30px;
}

